#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

#some Helpers
DHOPTS ?= --with config-package
DH=dh $@ $(DHOPTS)

#check that customize.sh is executable
all:
	ifndef $(shell [[ -x ./customize.sh ]])
		chmod ugo+x ./customize.sh
	endif

#skip - we want data there
override_dh_usrlocal:

#override for multiple services
override_dh_installsystemd: 
	dh_installsystemd --name broadwayd broadwayd.service
	dh_installsystemd --name wireshark wireshark.service
	dh_installsystemd --name mitmweb mitmweb.service

#add customize.sh to needed targets
clean:
	$(DH) clean
	./customize.sh clean
build:
	$(DH) build
	./customize.sh customize
binary:
	$(DH) binary




