#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

#check that customize.sh is executable
all:
	ifndef $(shell [[ -x ./customize.sh ]])
		chmod ugo+x ./customize.sh
	endif

#skip - we copy data ourself
override_dh_usrlocal:

#override for multiple services
override_dh_installsystemd: 
	dh_installsystemd --name broadwayd broadwayd.service
	dh_installsystemd --name wireshark wireshark.service
	dh_installsystemd --name mitmweb mitmweb.service

#add customize to std actions
clean:
	dh clean
	./customize.sh clean
build:
	dh build
	./customize.sh customize
binary:
	dh binary




