[Unit]
Description=wireshark
After=network.target
Requires=broadwayd.service

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/wireshark-gtk -i br0 --fullscreen -o gui.fileopen_remembered_dir:/home/pi/public_html/caps
Environment=XDG_RUNTIME_DIR=/home/pi/.cache
Environment=GDK_BACKEND=broadway
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

